<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106420125197-08akb6vf5gifddnau9van0kl5fktg676.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106420125197-08akb6vf5gifddnau9van0kl5fktg676</string>
	<key>API_KEY</key>
	<string>AIzaSyDE-RTWEowafhFcFA_kMh2N1npoGkHDRNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>106420125197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duongcn.NotiExample</string>
	<key>PROJECT_ID</key>
	<string>notiexample-4605c</string>
	<key>STORAGE_BUCKET</key>
	<string>notiexample-4605c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106420125197:ios:9a27b7515242ff8b665f44</string>
</dict>
</plist>